<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../template/head'); %>
</head>
<div class="d-flex" id="wrapper">
  <!-- Sidebar-->
  <div class="border-end bg-white" id="sidebar-wrapper">
    <%- include('../template/sidebar'); %>
      <!-- Page content wrapper-->
      <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <a class="navbar-brand" href="#">Cashier</a>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-7"><small class="text-muted" id="nowdate"></small>
              <div class="row row-cols-xs-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-6 g-2">
                <% allItems.forEach((el)=>{ %>
                  <div class="col mx-0 px-1">
                    <div class="card mb-2" onclick="pushToOrderList('<%= el.item %>', '<%= el.price %>')">
                      <% if(el.image !==null){ %>
                        <img class="card-img-top" src="/<%= el.image %>" />
                        <% } %>
                          <div class="card-body p-1">
                            <h6 class="card-title font-weight-bold">
                              <%= el.item %>
                            </h6>
                            <p class="card-text">
                              $<%= el.price %>
                            </p>
                          </div>
                    </div>
                  </div>
                  <% }) %>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="card">
                <div class="card-body p-1">
                  <h5>Order</h5>
                  <hr class="mb-0">
                  <ul class="list-unstyled" id="order_list"></ul>
                  <p class="card-text font-weight-bold text-right" id="total_cost"></p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
  </div>

  <body>
    <footer>
      <script src="/lodash/lodash.js"></script>
      <script src="/jquery/dist/jquery.js"></script>
      <script src="/salesScript.js"></script>

      <%- include('../template/footer'); %>
    </footer>
  </body>

</html>