<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../template/head'); %>
</head>

<body>
  <div class="d-flex start-box3" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
      <%- include('../template/sidebar'); %>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
          <!-- Top navigation-->
          <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <a class="navbar-brand" href="#">Dashboard</a>
          </nav>
          <!-- Page content-->
          <div class="container-fluid">
            <form action="/admin/dash" method="GET">
              <label for="date">Sales from Date: </label>
              <input type="date" name="date" required/>
              <button type="submit" class="btn btn-success btn-block mt-2 mb-4">Search</button>
            </form>
            <% if (sales.data.length===0 ){ %>
              <p>You have no sales from <%= sales.date %> to date! Get cracking you lowly worm!!</p>
              <% } else { %>
                <p>Well done worm! Your sales from <%= sales.date %> to date are below. You have hopes of becoming a
                    bug!! </p>
                <ul>
                  <% sales.data.forEach((el)=>{ %>
                    <li><%= el.category %>
                        <% el.items.forEach((item)=>{ %>
                          <p class="mb-0"><%= item.count %> of <%= item.item %> @ $<%= item.price %> each for a total of $<%= item.total %> 
                          </p>
                          <% }) %>
                    </li>
                    <% }) %>
                </ul>
                <% } %>
          </div>
        </div>
    </div>
    <footer>
      <%- include('../template/footer'); %>
    </footer>
</body>

</html>