<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../template/head'); %>
</head>

<body>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
      <%- include('../template/sidebar'); %>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
          <!-- Top navigation-->
          <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <a class="navbar-brand" href="#">Items</a>
          </nav>
          <!-- Page content-->
          <div class="container-fluid">
            <div class="table-responsive">
              <form action="/admin/items/<%= reqArr[0].id %>?_method=PUT" enctype="multipart/form-data" method="POST">
                <table class="table">
                  <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Cost</th>
                    <th>Category</th>
                    <th>Image</th>
                  </tr>
                  <tr>
                    <td>
                      <input class="form-control" type="text" name="item" required value="<%= reqArr[0].item %>" />
                    </td>
                    <td>
                      <input class="form-control" type="number" name="price" step=0.01 min=0
                        value="<%= reqArr[0].price %>" />
                    </td>
                    <td>
                      <input class="form-control" type="number" name="cost" step=0.01 min=0
                        value="<%= reqArr[0].cost %>" />
                    </td>
                    <td>
                      <select name="cat_id">
                        <% reqArr[1].categories.forEach((el)=> { %>
                         <% if(el.id === reqArr[0].cat_id){ %>
                          <option selected="selected" value="<%= el.id %>">
                            <%= el.category %>
                          </option>
                          <% } else{ %>
                          <option value="<%= el.id %>">
                            <%= el.category %>
                          </option>
                        <% } %>
                          <% }); %>
                      </select>
                    </td>
                    <td>
                      <input class="form-control" type="file" name="image" />
                    </td>
                  </tr>
                </table>
                <input class="btn btn-success btn-block" type="submit" value="Update Item Detail" />
              </form>
            </div>
          </div>
        </div>
    </div>
    <footer>
      <%- include('../template/footer'); %>
    </footer>
</body>

</html>